!!!
%html{:lang => "en"}
    %head
        %meta{:charset => "UTF-8"}/
        %title Document
        %link{:href => "stylesheets/screen.css", :rel => "stylesheet"}/
    %body
        #toggle
            .one
            .two
            .three
        #sidebar
            %h4 MENU
            %ul
                %li
                    %a{:href => "index.html"} Lorem Ipsum
                %li
                    %a{:href => "index.html"} Lorem Ipsum
                %li
                    %a{:href => "index.html"} Lorem Ipsum
                %li
                    %a{:href => "index.html"} Lorem Ipsum
                %li
                    %a{:href => "index.html"} Lorem Ipsum
        #main
            .row
                .line
                .col-xs-12.col-md-12
                    %header#site-header
                        %h1 Site Header
                        %small
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec viverra nunc. Phasellus mollis tempus erat ac imperdiet.
                        .buttons
                            %button.download Download
                            %button.more More
            .row#features
                .col-xs-12.col-md-12
                    %header
                        %h3 Features
                    .col-xs-12.col-md-3
                        .feature.responsive
                            %img{:src => "images/responsive.png", :alt => "Responsive"}
                            %h5 Responsive Layout
                            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec viverra nunc. Phasellus mollis tempus erat ac imperdiet.
                    .col-xs-12.col-md-3
                        .feature.tag
                            %img{:src => "images/tag70.png", :alt => "Free"}
                            %h5 Price - 0$!
                            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec viverra nunc. Phasellus mollis tempus erat ac imperdiet.
                    .col-xs-12.col-md-3
                        .feature.code
                            %img{:src => "images/code.png", :alt => "Code"}
                            %h5 Wrote in HAML & SASS
                            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec viverra nunc. Phasellus mollis tempus erat ac imperdiet.



        %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
        :javascript
            $('#sidebar ul li a').click(function(){
                $("#sidebar").slideUp(200);
            });
             $("#toggle").click(function() {
                $(this).toggleClass("on");
                 $("#sidebar").slideToggle(600);
            });
            $("#main").click(function(){
                $("#sidebar").slideUp(600);
                if($("#sidebar").css("display") != "none") {
                    $("#toggle").toggleClass("on");
                }
            });
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')