/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat|Raleway:400,600&subset=latin,latin-ext);
/* line 5, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../WebServ/public_html/Ruby/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 1, ../sass/flexboxgrid.min.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-offset-1, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-1 {
  -webkit-flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-2 {
  -webkit-flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-4 {
  -webkit-flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-5 {
  -webkit-flex-basis: 41.667%;
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-7 {
  -webkit-flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-8 {
  -webkit-flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-10 {
  -webkit-flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-11 {
  -webkit-flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-1 {
  margin-left: 8.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-2 {
  margin-left: 16.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-4 {
  margin-left: 33.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-5 {
  margin-left: 41.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-7 {
  margin-left: 58.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-8 {
  margin-left: 66.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-10 {
  margin-left: 83.333%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.col-xs-offset-11 {
  margin-left: 91.667%;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.start-xs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.center-xs {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.first-xs {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

/* line 1, ../sass/flexboxgrid.min.scss */
.last-xs {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  /* line 1, ../sass/flexboxgrid.min.scss */
  .container {
    width: 46rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-offset-1, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .start-sm {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .center-sm {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .end-sm {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .top-sm {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .middle-sm {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .bottom-sm {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .between-sm {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .first-sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .last-sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  /* line 1, ../sass/flexboxgrid.min.scss */
  .container {
    width: 61rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-offset-1, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .start-md {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .center-md {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .end-md {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .top-md {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .middle-md {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .bottom-md {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .between-md {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .first-md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .last-md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  /* line 1, ../sass/flexboxgrid.min.scss */
  .container {
    width: 71rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-offset-1, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .start-lg {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .center-lg {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .end-lg {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .top-lg {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .middle-lg {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .bottom-lg {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .between-lg {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .first-lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 1, ../sass/flexboxgrid.min.scss */
  .last-lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/** MEDIA QUERIES **/
@media all and (min-width: 801px) and (max-width: 1350px) {
  /* line 15, ../sass/screen.scss */
  #sidebar {
    width: 25% !important;
  }
}
@media all and (max-width: 590px) {
  /* line 20, ../sass/screen.scss */
  #sidebar {
    width: 100% !important;
  }
}
@media all and (min-width: 601px) and (max-width: 800px) {
  /* line 25, ../sass/screen.scss */
  #sidebar {
    width: 45% !important;
  }
}
/** **/
/* line 30, ../sass/screen.scss */
html {
  overflow-x: hidden;
  background: #fdfdfd;
  color: #272727;
  font-family: 'Open Sans', sans-serif;
  height: 2250px;
}
/* line 31, ../sass/screen.scss */
html body {
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/screen.scss */
a, a:visited {
  color: #FA5F5F;
  transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}
/* line 41, ../sass/screen.scss */
a:hover, a:visited:hover {
  opacity: 0.75;
  transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

/* line 49, ../sass/screen.scss */
#main {
  width: 100%;
  margin: 0 auto;
}

/* line 53, ../sass/screen.scss */
.line {
  width: 100%;
  height: 3px;
  background: #FA5F5F;
}

/* line 58, ../sass/screen.scss */
#toggle {
  width: 28px;
  height: 30px;
  margin: 10px;
  position: fixed;
  z-index: 2;
  left: 0.1em;
}

/* line 67, ../sass/screen.scss */
#toggle div {
  z-index: 2;
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* line 78, ../sass/screen.scss */
#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

/* line 82, ../sass/screen.scss */
#toggle.on .two {
  opacity: 0;
}

/* line 86, ../sass/screen.scss */
#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

/* line 89, ../sass/screen.scss */
#sidebar {
  z-index: 1;
  border-right: 2px solid #FA5F5F;
  border-top: 3px solid #FA5F5F;
  width: 15%;
  height: 100%;
  left: 0;
  right: 0;
  display: none;
  position: fixed;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  background: rgba(41, 41, 41, 0.7);
}
/* line 103, ../sass/screen.scss */
#sidebar h4 {
  position: relative;
  left: 1em;
  font-size: 175%;
  font-family: raleway;
  font-weight: 600;
  color: #FA5F5F;
  top: 1.35em;
}
/* line 111, ../sass/screen.scss */
#sidebar ul {
  padding: 1em;
  position: relative;
  top: 1.45em;
  left: 1em;
  color: #fff;
}
/* line 117, ../sass/screen.scss */
#sidebar ul li {
  list-style-type: square;
  padding: 0.3em;
  padding-top: 1.2em;
  color: #FA5F5F;
  border-bottom: 3px solid rgba(250, 95, 95, 0.75);
}
/* line 120, ../sass/screen.scss */
#sidebar ul li a {
  text-decoration: none;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 105%;
}

/* line 130, ../sass/screen.scss */
#site-header {
  color: #fdfdfd;
  text-align: center;
  padding: 3em 1em 1.5em 1em;
  background: linear-gradient(rgba(250, 95, 95, 0.7), rgba(250, 95, 95, 0.7)), url(../images/header.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
/* line 141, ../sass/screen.scss */
#site-header h1 {
  font-size: 235%;
  font-family: 'Montserrat', sans-serif;
}
/* line 143, ../sass/screen.scss */
#site-header h1:before {
  content: ":";
  color: #FA5F5F;
  margin-right: 3px;
  font-size: 100%;
}
/* line 150, ../sass/screen.scss */
#site-header small {
  display: block;
  margin-top: 25px;
}
/* line 153, ../sass/screen.scss */
#site-header .buttons {
  margin-top: 25px;
}
/* line 155, ../sass/screen.scss */
#site-header .buttons button {
  transition: .75s;
  background: none;
  padding: 16px 29px 16px 29px;
  font-family: raleway;
  font-size: 105%;
  border: #FFF 1px solid;
  color: #fff;
}
/* line 163, ../sass/screen.scss */
#site-header .buttons button:hover {
  transition: 1s;
  cursor: pointer;
  background: #FA5F5F;
}
/* line 167, ../sass/screen.scss */
#site-header .buttons button:focus {
  outline: none;
  opacity: 0.5;
  transition: .55s;
}

/* line 176, ../sass/screen.scss */
#features {
  flex-direction: column;
}
/* line 180, ../sass/screen.scss */
#features .feature.responsive {
  order: 1;
}
/* line 183, ../sass/screen.scss */
#features .feature.tag {
  order: 2;
}
/* line 186, ../sass/screen.scss */
#features .feature.code {
  order: 3;
}
